
/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth; /* Me permite ir a las secciones suavemente */
}



/* -------------------------------------------------------------------------- */
/*                                PIE DE PÁGINA                               */
/* -------------------------------------------------------------------------- */

#btn-submit:hover {
    opacity: 90%;
}

.btn-transparent:hover, .footer-links:hover {
    opacity: 50%;
}